#nav{
background-color: #000000;
}

#MyNavbar{
float: right;
font-size: 20px;
text-color: #ffffff;
font-family: Open Sans;

}

#navft{
  background-color: #000000;
  color: black;
  font-family: Open Sans;
}

#sidebar{
  font-family: Open Sans;
  font-size: 15px;
}

.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

.main-pages {
  margin-top: 60px;
}
